@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.Hero {
  background-image: linear-gradient(
    to right bottom,
    #020521,
    #0c021b,
    #100014,
    #0f000c,
    #0b0005,
    #0b0005,
    #0b0005,
    #0b0005,
    #0f000c,
    #100014,
    #0c021b,
    #020521
  );
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
